		<header class="header">
			<a href="#" class="logo">Portfolio</a>
			<i class='bx bx-menu' id="menu-icon"></i>
			<nav class="navbar">
				<a href="#home" class="active">Accueil</a>
				<a href="#about">À Propos</a>
				<a href="#techno">Technologies</a>
				<a href="#projects">Projets</a>
				<a href="#contact">Contact</a>
			</nav>
		</header>
