<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google-site-verification" content="27NaPD_l3MXOp1XSOUl695pqNpHbddClyYXPDduuhiw" />
		<meta name="robots" content="all">
        <meta name="author" content="Lola Vilatte">
		<meta name="description" content="Je suis Lola Vilatte, développeuse web et mobile sur le secteur Toulon/Aubagne. J'ai réalisé ce portfolio dans le but de vous présenter mes compétences en HTML, CSS, Javascript, NodeJS, PHP, SQL afin de trouver un contrat en alternance. ">
        <meta name="Keywords" content="portfolio, Vilatte, developpeur, web, Javascript, PHP, Node.Js, Toulon, Aubagne, La Ciotat, Informatique, Ri7">
		<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="icon" type="image/x-icon" href="/images/dev.ico">
		<title>Portfolio</title>
	</head>
	<body>
		{% block header %}
			{% include "./layouts/_header.twig" %}
		{% endblock %}

		{% block main %}{% endblock %}

		{% block script %}
			<script>
				{% include "../assets/js/main.js" %}
			</script>
		{% endblock %}

		{% block footer %}
			{% include "./layouts/_footer.twig" %}
		{% endblock %}
	</body>
</html>
